<div class="about-area pb-100 vinova-about">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-lg-8 col-md-12">
        <div class="about-content">
          <span class="sub-title">
            <i class="flaticon-198-hashtag-1"></i>
            Sobre Vinova
          </span>

          <h3>
            Atención visual integral
            <span>con enfoque humano</span>
          </h3>

          <p>
            Evaluación visual completa, explicación clara y acompañamiento cercano, para que tomes decisiones con confianza.
          </p>

          <div class="row">
            <div class="col-lg-4 col-6">
              <ul class="about-list">
                <li>
                  <i class="flaticon-163-draw-check-mark"></i>
                  Examen visual completo
                </li>
                <li>
                  <i class="flaticon-163-draw-check-mark"></i>
                  Refracción y receta
                </li>
                <li>
                  <i class="flaticon-163-draw-check-mark"></i>
                  Salud ocular preventiva
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-6">
              <ul class="about-list">
                <li>
                  <i class="flaticon-163-draw-check-mark"></i>
                  Atención para niños y adultos
                </li>
                <li>
                  <i class="flaticon-163-draw-check-mark"></i>
                  Recomendación de lentes
                </li>
                <li>
                  <i class="flaticon-163-draw-check-mark"></i>
                  Seguimiento personalizado
                </li>
              </ul>
            </div>
          </div>

          <div class="list">
            <div class="row">
              <div class="col-12">
                <div class="about-info">
                  <i class="flaticon-158-policy"></i>
                  <h4>Buenas prácticas clínicas</h4>
                  <span>Atención responsable, actualizada y centrada en cada paciente.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 vinova-about__media-col">
        <div class="about-image vinova-about__media">
          <img
            src="assets/images/home/about/about_image.jpg"
            alt="Vinova - Centro de Visión Integral"
          />
        </div>
      </div>
    </div>
  </div>
</div>