<div class="not-found-area ptb-100">
    <div class="container">
        <div class="not-found-content" style="background-color: red; height: 100vh!important;">
            <div style="height: 100vh!important; display: flex; justify-content: center; align-items: center">
                <img src="images/errorpage.webp" alt="" width="1400" height="1200" style="height: 100vh!important; background-color: green" decoding="async">
            </div>
            <h3>Oops! Página no disponible</h3>
            <p>La página que estás buscando no está disponible temporalmente.</p>
            <a routerLink="/" class="default-btn">
                Volver a la página principal
            </a>
        </div>
    </div>
</div>
