<!-- Default Features Section -->
<div
  class="core-features-area pt-100 pb-75 bg-eef9ff"
  [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/index-7' || router.url === '/appointment' || router.url === '/about-us' || router.url === '/about-us-2' || router.url === '/about-us-3'}"
>
  <div class="container">
    <div class="section-title-warp">
      <span class="sub-title">
        <!-- <i class="flaticon-198-hashtag-1"></i> -->
        Nuestra especialidad
      </span>
      <h2>Más que medir tu visión, 
        <span>cuidamos tu salud visual</span>
      </h2>
    </div>

    <div class="row justify-content-center core-features-row">
      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="single-core-features equal-card">
          <div class="icon">
            <i class="fa-solid fa-clipboard-check"></i>
          </div>
          <h3>
            <a routerLink="/service-details">Miopía</a>
          </h3>
          <p>
            Ves bien de cerca pero los objetos lejanos se ven desenfocados o borrosos.
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="single-core-features equal-card">
          <div class="icon">
            <i class="fa-solid fa-eye"></i>
          </div>
          <h3>
            <a routerLink="/service-details">Hipermetropía</a>
          </h3>
          <p>
            Leer y trabajar de cerca se vuelve cansado, incluso se suma un dolor de cabeza.
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="single-core-features equal-card">
          <div class="icon">
            <i class="fa-solid fa-award"></i>
          </div>
          <h3>
            <a routerLink="/service-details">Astigmatismo</a>
          </h3>
          <p>
            La visión se siente distorsionada o doble a cualquier distancia.
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="single-core-features equal-card">
          <div class="icon">
            <i class="fa-solid fa-hand-holding-heart"></i>
          </div>
          <h3>
            <a routerLink="/service-details">Presbicia</a>
          </h3>
          <p>
            El clásico: utilizar el celular para leer. Con el paso de los años ver de cerca se vuelve dificil.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>