@font-face {
    font-family: 'LENA';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/LENA-Regular.woff2') format('woff2'),
        url('/assets/fonts/LENA-Regular.woff') format('woff');
}

@font-face {
    font-family: 'LENA';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/fonts/LENA-Bold.woff2') format('woff2'),
        url('/assets/fonts/LENA-Bold.woff') format('woff');
}

@font-face {
    font-family: 'QUROVA';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/QUROVA-Regular.woff2') format('woff2'),
        url('/assets/fonts/QUROVA-Regular.woff') format('woff');
}

@font-face {
    font-family: 'QUROVA';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/fonts/QUROVA-Bold.woff2') format('woff2'),
        url('/assets/fonts/QUROVA-Bold.woff') format('woff');
}
