$vinova-font-family: 'LENA', sans-serif;
$vinova-font-family2: 'QUROVA', sans-serif;

$vinova-color-1: #CF4317;
$vinova-color-2: #FF470A;
$vinova-color-3: #F89C02;
$vinova-color-4: #D2D740;
$vinova-color-5: #EDEDED;

$vinova-black: #222222;
$vinova-navy: #002345;
$vinova-paragraph: #6a6c72;
$vinova-paragraph-2: #486683;

$vinova-font-size: 14.5px;
$vinova-transition: .5s;
