<div
    class="navbar-area navbar-style-two"
    [ngClass]="{'d-block': router.url === '/index-4' || router.url === '/about-us-3', 'sticky': isSticky}"
>
    <div class="container-fluid">
        <nav
            class="navbar navbar-expand-lg navbar-light bg-light"
            [class.active]="classApplied">

            <a class="navbar-brand" routerLink="/" (click)="toggleClass()">
                <img src="images/logo/principal.png" alt="about-image">
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item" *ngFor="let item of navItems">
                        <a [routerLink]="['/']" [fragment]="item.fragment" class="nav-link">
                            {{ item.label }}
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav for-responsive">
                    <li class="nav-item" *ngFor="let item of navItems">
                        <a [routerLink]="['/']" [fragment]="item.fragment" class="dropdown-toggle nav-link">
                            {{ item.label }}
                        </a>
                    </li>
                </ul>
                <div class="others-option d-flex align-items-center">
                    <div class="option-item">
                        <a [href]="whatsappUrl" target="_blank" rel="noopener noreferrer" class="default-btn">
                            {{ content.hero.ctaBtnWhatsappLabel }}
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
