<div class="eye-care-solutions-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title main-color">
                <i class="flaticon-198-hashtag-1"></i>
                ¿Qué ofrecemos?
            </span>
            <h2>Ofrecemos todo tipo de soluciones para la salud ocular</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="eye-care-solutions-content">
                    <h2>Atención de calidad con instalaciones modernas</h2>
                    <p>Brindamos atención visual integral en un entorno cómodo y moderno, equipado para realizar evaluaciones precisas y ofrecer soluciones confiables para el cuidado de tu salud ocular.</p>
                    <div class="solutions-inner-content bg-f7f7fd">
                        <h4>Revisión ocular completa</h4>
                        <p>Realizamos exámenes visuales detallados para evaluar tu visión, detectar posibles alteraciones y definir la mejor recomendación según tus necesidades visuales.</p>
                    </div>
                    <div class="solutions-inner-content">
                        <h4>Tratamientos de enfermedades oculares diabéticas</h4>
                        <p>Ofrecemos seguimiento y control especializado para pacientes con diabetes, enfocándonos en la prevención, detección temprana y cuidado responsable de la salud ocular.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="eye-care-solutions-image">
                    <img src="images/eye-care/solutions/solutions.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>