<div class="dashboard-container" [class.sidebar-collapsed]="isSidebarCollapsed">
  <aside class="sidebar">
    <div class="sidebar-header">
      <div class="brand" *ngIf="!isSidebarCollapsed">
        <img src="images/logo/principal.png" alt="about-image">
      </div>
      <button class="btn-toggle" (click)="toggleSidebar()">
        <i class="fa-solid" [ngClass]="isSidebarCollapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
      </button>
    </div>

    <ul class="nav-menu">
      <li 
        [class.active]="activeTab === 'inventory'" 
        (click)="activeTab = 'inventory'"
        title="Inventario"> 
        <i class="fa-solid fa-clipboard-check icon"></i>
        <span class="text" *ngIf="!isSidebarCollapsed">Inventario</span>
      </li>
      <li 
        [class.active]="activeTab === 'clients'" 
        (click)="activeTab = 'clients'"
        title="Clientes"> 
        <i class="fa-solid fa-users icon"></i>
        <span class="text" *ngIf="!isSidebarCollapsed">Clientes</span>
      </li>
    </ul>

    <button class="btn-logout" (click)="logout()" title="Cerrar Sesión">
      <i class="fa-solid fa-right-from-bracket icon" *ngIf="isSidebarCollapsed"></i>
      <span *ngIf="!isSidebarCollapsed">Salir</span>
    </button>
  </aside>

  <main class="content">

    <section class="workspace">
      <!-- Aquí irán los componentes de inventario o clientes según el tab activo -->
      <div *ngIf="activeTab === 'inventory'">
        <app-admin-inventory></app-admin-inventory>
      </div>

      <div *ngIf="activeTab === 'clients'">
        <app-admin-clients></app-admin-clients>
      </div>
    </section>
  </main>
</div>