<header
    [ngClass]="{'d-none': router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/index-7' || router.url === '/index-8'|| router.url === '/services-4' || router.url === '/services-5' || router.url === '/services-6' || router.url === '/service-details-2' || router.url === '/contact-us-2' || router.url === '/contact-us-3' || router.url === '/about-us-3' || router.url === '/doctors' || router.url === '/portfolio' || router.url === '/portfolio-details'}"
>
    <app-navbar />
</header>

