.whatsapp-float {
    right: 30px;
    width: 60px;
    z-index: 98;
    height: 60px;
    bottom: 80px;
    font-size: 32px;
    display: block;
    position: fixed;
    padding: 2px;
    cursor: pointer;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    color: var(--white-color);
    transition: var(--transition);
    background-color: #25D366;
    box-shadow: rgba(37, 211, 102, 0.3) 0px 7px 29px 0px;

    &:hover {
        transform: scale(1.1);
        box-shadow: rgba(255, 255, 255, 1) 0px 10px 35px 0px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 70px;
        transform: translateY(-50%);
        color: var(--black-color);
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
        opacity: 0;
        font-weight: bold;
        visibility: hidden;
        transition: all 0.3s ease;
        pointer-events: none;
        text-shadow: 1px 1px 8px rgb(255, 255, 255);
    }

    &:hover::before {
        content: 'Agenda tu cita';
        opacity: 1;
        visibility: visible;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .whatsapp-float {
        right: 15px;
        bottom: 75px;
        width: 50px;
        height: 50px;
        font-size: 28px;
        line-height: 50px;
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .whatsapp-float {
        right: 20px;
        bottom: 85px;
        width: 55px;
        height: 55px;
        font-size: 30px;
        line-height: 55px;
    }

}