<!-- Footer -->
<footer
  class="footer-area pt-100 pb-75 vinova-footer">
  <div class="container">
    <div class="row justify-content-between">
      
      <div class="col-xl-5 col-lg-5 col-md-12">
        <div class="single-footer-widget vinova-footer__brand">
          <h2><a routerLink="/">
            <img src="images/logo/principal.png" alt="about-image">
          </a></h2>

          <p>
            Atención visual integral con enfoque humano. Evaluación completa,
            acompañamiento cercano y recomendaciones claras para cuidar tu salud ocular.
          </p>

          <div class="footer-info">
            <img
              src="assets/images/home/footer/footer_image.jpg"
              alt="Opt. Karolina Bayas"
            />
            <div class="footer-info__text">
              <h4>Opt. Karolina Bayas</h4>
              <span>CEO &amp; Founder</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Contact -->
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-footer-widget vinova-footer__contact">
          <h3>Contacto</h3>

          <ul class="footer-information">
            <li>
              <i class="fa-solid fa-phone-volume"></i>
              Llámanos
              <span><a href="tel:0963565769">0963565769</a></span>
            </li>
                <li>
              <i class="fa-regular fa-envelope"></i>
              Correo
              <span><a href="mailto:info@vinova.ec">info&#64;vinova.ec</a></span>
            </li>
            <li>
            <i class="fa-regular fa-clock"></i>
              Horario de atención
              <span>09:00 a 17:00</span>
            </li>

            <li>
              <i class="fa-solid fa-location-dot"></i>
              Ubicación
              <span><a href="https://maps.app.goo.gl/wroDcwctugDAtEy37">Centro Corporativo Atahualpa <br/> Consultorio 302</a></span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Social -->
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div class="single-footer-widget vinova-footer__social">
          <h3>Redes</h3>

          <ul class="vinova-social">
            <li>
              <a href="https://www.facebook.com/share/1ED16qQCTq/?mibextid=wwXIfr" target="_blank" rel="noopener">
                <i class="bx bxl-facebook"></i> Facebook
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/vinovaec?igsh=ZWM5a3VvanVrYWNn" target="_blank" rel="noopener">
                <i class="bx bxl-instagram"></i> Instagram
              </a>
            </li>
            <li>
              <a href="https://www.tiktok.com/@vinovaec?_r=1&_t=ZS-93lPTlFKUkr" target="_blank" rel="noopener">
                <i class="bx bxl-tiktok"></i> TikTok
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Copyright -->
<div
  class="copyright-area vinova-copyright">
  <div class="container">
    <div class="copyright-area-content">
      <p>© Vinova - 2026 | Todos los derechos reservados</p>
    </div>
  </div>
</div>